<form [formGroup]="apuestaForm" class="form-control">
    <div class="row">
      <label for="fecha" class="form-label">Fecha</label>
      <input type="date" data-testid="fechaApuesta" id="fecha" name="fecha" formControlName="fecha" placeholder="Fecha de apuesta">
      <validation-error-message [control]="getFormControl('fecha')" [fieldName]="'fecha'"/>
    </div>
    <div class="row">
      <label for="monto">Monto</label>
      <input type="number" data-testid="monto" name="monto" class="numeric" formControlName="monto"
        placeholder="Monto en $" required="true">
      <validation-error-message [control]="getFormControl('monto')" [fieldName]="'monto'"/>
      </div>
    <div class="row">
      <label for="tipoApuesta">Tipo de Apuesta</label>
      <p class="tipoApuesta">Pleno</p>
    </div>
    <div class="row">
      <label for="apuesta">Qué apostás</label>
      <select name="apuesta" data-testid="apuesta" class="form-control" formControlName="valorApostado" required="true">
        @for (valor of apuesta.tipoApuesta?.valoresAApostar; track valor) {
            <option [ngValue]="valor">{{valor}}</option>
        }
      </select>
      <validation-error-message [control]="getFormControl('valorApostado')" [fieldName]="'valorApostado'"/>
    </div>
    <div class="botonera">
      <button class="btn-primary" data-testid="btnApuesta" (click)="apostar()" type="submit">Apostar</button>
    </div>
    <div class="row">
        @if (resultado()) {
            <div class="message" data-testid="resultado">
              {{resultado()}}
            </div>
        }
    </div>
  </form>
