:root {
  font-size: 12px;
}

.container {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.title {
  padding: 1.5rem 1.5rem;
  font-weight: bold;
  font-size: 2rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(124, 193, 222, 1) 0%,
    rgba(233, 241, 242, 1) 100%
  );
}
