form {
  margin: 1.5rem 0;
  line-height: 0;
  border-style: none;
  padding: 0 4rem;
}

.title {
  padding: 1.5rem 2rem;
  font-weight: bold;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(124,193,222,1) 0%, rgba(233,241,242,1) 100%);
}

.message {
  padding: 1.5rem 1rem;
}