<form #apuestasForm="ngForm" class="form-control">
  <div class="md-form">
    <div class="alert alert-danger" *ngIf="errorMessage">
      {{errorMessage}}
    </div>
  </div>
  <p class="h4 text-center mb-4">Apuestas de Ruleta</p>
  <br>
  <div class="md-form">
    <h5 for="fecha" class="grey-text">Fecha</h5>
    <my-date-picker name="fechaApuesta" [options]="opcionesFecha"
                    [(ngModel)]="fechaModel" required></my-date-picker>

  </div>
  <div class="md-form">
    <h5 for="monto" class="grey-text">Monto</h5>
    <input type="number" id="monto" name="monto" class="form-control" [(ngModel)]="apuesta.monto" placeholder="Monto en $" required="true">
  </div>
  <div class="md-form">
    <h5 for="tipoApuesta" class="grey-text">Tipo de Apuesta</h5>
    <select id="tipoApuesta" name="tipoApuesta" class="form-control" [(ngModel)]="apuesta.tipoApuesta" required="true">
      <option *ngFor="let tipo of tiposApuesta" [ngValue]="tipo">{{tipo.descripcion}}</option>
    </select>
  </div>
  <div class="md-form">
    <h5 for="apuesta" class="grey-text">Qu&eacute; apost&aacute;s</h5>
    <select name="apuesta" id="apuesta" class="form-control" [(ngModel)]="apuesta.valorApostado" [disabled]="!apuesta.tipoApuesta.valoresAApostar"
      required="true">
      <option *ngFor="let valor of apuesta.tipoApuesta.valoresAApostar" [ngValue]="valor">{{valor}}</option>
    </select>
  </div>
  <div class="md-form" align="center">
    <button class="btn btn-primary" (click)="apostar()" type="submit">Apostar</button>
  </div>
  <div class="md-form" align="center">
    <div class="alert alert-info" *ngIf="apuesta.resultado">
      {{apuesta.resultado.valor()}}</div>
  </div>
</form>