form {
  margin: 1.5rem 0;
  line-height: 0;
  border-style: none;
  padding: 0 5rem;
  font-size: 1.2rem;
}

.row {
  margin: 0.5em 0;
  display: flex;
  flex-direction: column;
}

.title {
  padding: 1.5rem 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.2em;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(124,193,222,1) 0%, rgba(233,241,242,1) 100%);
}

.message {
  padding: 1.5rem 1rem;
}

label {
  color: darkslategrey;
  padding: 1em 0 1em 0;
  display: block;
  font-size: 0.8em;
}

input {
  height: 1.6rem;
}

select {
  height: 2rem;
}

select, input {
  width: 20em;
}

/* input.numeric {
  width: 10em;
} */

.botonera {
  width: 100%;
  margin: 1rem 0 0.5rem 0;
}

.btn-primary {
  background-color: rgb(32, 112, 178);
  color: white;
  border: 0;
  padding: 0.5em 2em;
  margin: 0;
  height: 3em;
}

.message {
  background-color: lightgreen;
  border-color: darkolivegreen;
  font-size: 0.9rem;
}