.validation-row {
  background-color: lightcoral;
  border-color: darkred;
  color: white;
  font-size: 0.8em;
  height: 2em;
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  margin: 0.5em 0;
  align-items: center;
}
